<div>
    <h2>
        <span jhiTranslate="schoolhipsterJwtApp.teacher.home.title">Teachers</span>
        <button class="btn btn-primary float-right jh-create-entity create-teacher-schoolcore" [routerLink]="['/', { outlets: { popup: ['teacher-schoolcore-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="schoolhipsterJwtApp.teacher.home.createLabel">
            Create new Teacher
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="teachers">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="firstName"><span jhiTranslate="schoolhipsterJwtApp.teacher.firstName">First Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="lastName"><span jhiTranslate="schoolhipsterJwtApp.teacher.lastName">Last Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="phoneNumber"><span jhiTranslate="schoolhipsterJwtApp.teacher.phoneNumber">Phone Number</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="email"><span jhiTranslate="schoolhipsterJwtApp.teacher.email">Email</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="hourlyRate"><span jhiTranslate="schoolhipsterJwtApp.teacher.hourlyRate">Hourly Rate</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="rate"><span jhiTranslate="schoolhipsterJwtApp.teacher.rate">Rate</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let teacher of teachers ;trackBy: trackId">
                <td><a [routerLink]="['../teacher-schoolcore', teacher.id ]">{{teacher.id}}</a></td>
                <td>{{teacher.firstName}}</td>
                <td>{{teacher.lastName}}</td>
                <td>{{teacher.phoneNumber}}</td>
                <td>{{teacher.email}}</td>
                <td>{{teacher.hourlyRate}}</td>
                <td>{{teacher.rate}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../teacher-schoolcore', teacher.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'teacher-schoolcore/'+ teacher.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'teacher-schoolcore/'+ teacher.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
